body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > div {
  display: flex;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.selected-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .gif {
    width: 80%;
    height: 80%;
    object-position: center;
    object-fit: cover;
  }
}

.right {
  width: 40vw;
}

.gif-list {
  height: 100vh;
}