body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

#root > div {
  display: flex;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.search-bar {
  border: none;
  border-bottom: 4px solid white;
  margin: 16px;
  padding: 8px 16px;
  line-height: 32px;
  font-size: 24px;
  background-color: black;
  color: white;

  &:focus {
    outline: none;
  }
}

.selected-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .gif {
    width: 60% !important;
  }
}

.gif {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.right {
  width: 40vw;
  overflow-y: scroll;
}

.gif-list {
  column-count: 2;
  column-gap: 5px;
  overflow-x: hidden;
  text-align: center;
}